/* Color */


$white: #FFFFFF;
$black: #000000;
$orange: #F68633;
$dark-orange: #DE660D;
$light-orange: #FFF0E5;
$dark-grey: #464646;
$light-grey: #9D9D9D;
$border-grey: #F4F4F4;
$back-grey: #FAFAFA;
$back-dark-grey: #C4C4C4;
$red: #F93C00;

/* Font-size */

$title-size: 36px;
$sub-title-size: 44px;
$main-size: 16px;
$second-size: 14px;


/* Font-family */

$main-font: 'Roboto', sans-serif;
